<html>
	<head>
		<script src="/vendor/jquery/jquery-1.9.1.min.js"></script>
		<script src="/vendor/jquery/jquery-ui.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="/vendor/nprogress/nprogress.js"></script>

		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/vendor/wave/wave.css" rel="stylesheet" />

		<title>Wave</title>
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!--<a class="navbar-brand" href="/"><img src="vendor/wave/wave.svg"></a>-->
					<a class="navbar-brand" href="/">Wave</a>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/admin"> Visualize </a></li>
						<li><a href="/admin"> Report <span class="badge pull-right report-count"> 42 </span></a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
						  	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Name<span class="glyphicon glyphicon-user pull-right"></span><b class="caret"></b></a>
							<ul class="dropdown-menu">
						    		<li><a href="#">Settings<span class="glyphicon glyphicon-cog pull-right"></span></a></li>
								<li class="divider"></li>
						    		<li><a href="#">Logout<span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
							</ul>
					  	</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="active-space">
			react controlls what gets rendered here
		</div>
	</body>
</html>
