<html>
	<head>
		<title>Wave - Password Reset</title>
		<link rel="stylesheet" href="vendor/wave/wave.css" />
	</head>

	<body>
		<div class="midbar">
			<div class="login-container">
				<img class="logo-login" src="vendor/wave/wave.svg">
				<form class="form midbar-form">
					<input class="midbar-form-input" type="text" placeholder="email address">
					<button class="midbar-form-button" type="submit" id="login-button">Reset Password</button>
				</form>
			</div>
		</div>
	</body>
</html>
